@import url(https://fonts.googleapis.com/css?family=Roboto:100);
@import url(https://fonts.googleapis.com/css?family=Roboto:100);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: "250";
  height: "250";

}

html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
body {
  font-family: Roboto
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;

}

canvas {
  display: block;
  vertical-align: bottom;
  width: "250";
  height: "250";
  
}

#aa_particles {
  z-index: 4;
  height: 100%;
  height: 100vh;
  background: #ffffff;
}

.aa_sec {
  position: absolute;
  z-index: 1;
  top: 40%;
  right: 0;
  left: 0;
  margin: 0  auto;
}

.aa_sub_sec {
  position: absolute;
  z-index: 5;
  top: 65%;
  right: 0;
  left: 0;
  margin: 0  auto;
}

.aa_txt {
  font: 80 8vmin Roboto;
  font: 80 8vmax Roboto;
  text-align: center;
  color: #008080;
}

.aa_sub_txt {
  font: 60 8vmin Roboto;
  text-align: center;
  color: #008080;
}

.aa_inner {
  padding: 0 2rem;
  text-transform: uppercase;
  background: #ffffff00;

}


.container {
  position: relative;
}

/* Hide the images by default */
.mySlides, .mySlides1, .mySlides2 {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0.0, 0, 0, 0.0);
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: teal;
  opacity: 0.9;
  padding: 3px 20px;
  color: white;
  border-radius: 20px

}

hr
{
  border-color: #008080;
  border-width: 1px;
}

#hr1{
  border-color: #008080;
  border-width: 3px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo, .demo1, .demo2 {
  opacity: 0.25;
}

.active,
.demo:hover {
  opacity: 1;
}




.separator-type, .title-type, .intro-type, .content-type .intro-type p {
    position: relative;
}
.intro-type .container {
    padding: 0px 0px 0px 0px !important;
}

.seo-header, .product-header, .intro-type .container h1.white, .company-heading h1 {
    font-weight: 100 !important;
    
    font-size: 55px;
    margin-bottom: 20px;
}
.parallax {
    background-attachment: inherit !important;
}
.parallax {
    background-attachment: inherit !important;
}
.parallax {
    background-attachment: inherit !important;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
}
.ct-btn-scroll {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 20px;
    z-index: 9;
    border-radius: 100%;
    -webkit-transition: background-color 0.40s ease-in-out;
    transition: background-color 0.40s ease-in-out;
    font-size: 48px;
      text-align: center;
      transform: translate(-50%, -50%);
      

      
      animation: bouncearrow 1.2s linear infinite;
      
}
img, figure {
    max-width: 100%;
}



@keyframes bouncearrow
{
  0%
  {
    transform: translateY(-25px);
    opacity: 0.9
    
  }
  25%
  {
    transform: translateY(-12.5px);
    opacity: 0.7
    
  }
  50%
  {
    transform: translateY(0px);
    opacity: 0.4
  }
  75%
  {
    transform: translateY(-12.5px);
    opacity: 0.7
  }
  100%
  {
    transform: translateY(-25px);
    opacity: 0.9
  }
  
}

